label {
    font: 5 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}
h5{
    font : 2rem 'Fira Sans', sans-serif;
    text-align: center;
}

.btn{
    background-color: red;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
}


