h5{
    font : 2rem 'Fira Sans', sans-serif;
    text-align: center;
}

th{  
    font: 1.5rem 'Fira Sans', sans-serif;
    text-align: left;
    padding: 5px;
    background-color: dimgray;
    color: red;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    
}

tr{
    height: 5px;
}
td{
    font: 1.5rem 'Fira Sans', sans-serif;
    border-bottom: 1px solid black;
    padding: 5px;
    height: 5px;
}

     table {
        
        width: auto;     
              
        border-collapse: separate;
        border: 1px solid black;
        border-style: rounded;
        background-color:lightgray;
        border-radius: 6px;
        -moz-border-radius: 6px;
           
    }
