td, th{  
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}
    table {
        
        
        width: auto;
        background-color:lightgray;
        border: 2px solid black;
        
        
        
        
    }

    