<div class="container" style="text-align: center">
    <h1 class="jumbotron" id="headerOne" style="background-color: dimgrey;">
      Welcome to <span style="color : red;">PortfolioX</span>
    </h1>
    <div class="moving-text" >

        <h3 fxLayout= "row"><div *ngFor="let stock of stocks">{{stock.name}} ${{stock.currentPrice}}...</div></h3>
        </div> 
</div>
<div>
  <button style = "margin-top: 4px;" (click)="getCurrentPrice($event)">NASDAQ</button>
</div>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="">Home</a>
    <a class="navbar-brand" routerLink="/research" routerLinkActive="">Research</a>
</nav>
<router-outlet></router-outlet>
