.card{
    text-align: center;
    }
   
    .title{
       font : 2rem 'Fira Sans', sans-serif;
    }
   
   input[type='submit'],
   label {
       margin-top: 1rem;
   }
   
   .btn{
       background-color: red;
   }
   input{
       border: 1px solid #ccc;
       border-radius: 4px;
   }
   