
<div>
<ul class="PList">
  <li *ngFor="let port of portfolios">
  <a routerLink="/detail/{{port.id}}">
  <span class="badge">{{port.portfolioN}}</span> {{port.tickers}}
  </a>
  <button class="delete" title="delete Portfolio"
  (dblclick)="deletePortfolio($event,port)">x</button>
  </li>
  </ul>
</div>



<div class="card">
  <br>
  <br>
  <div class="content">
    <span class="title"> <strong>Add Portfolio</strong></span>
    <form (ngSubmit) = onSubmit() class="col s6">
      <div class="row">
        <div class="input-field col s6">
            <label for="name">Portfolio Name: &nbsp;</label>
            <input type="text" placeholder=" Add Name " [(ngModel)] = 'port.portfolioN' name='name'>
        </div>
        <div class="input-field col s6">
            <label for="age">&nbsp; &nbsp; &nbsp; &nbsp; Add Ticker: &nbsp; </label>
            <input type="text" placeholder=" Add tickers" [(ngModel)] = 'port.tickers' name='tickers'>
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div>
